<link rel="stylesheet" href="/static/style.css">

<div class="container">
    <h1> 🩺 Diabetes Prediction 🩺 </h1>

    <form action="{{ url_for('predict') }}" method="post">

        <label>Gender</label>
        <select name="Gender">
            <option value="1">Male</option>
            <option value="0">Female</option>
        </select>

        <label>Age</label>
        <input type="number" name="AGE" required>

        <label>Urea</label>
        <input type="number" step="any" name="Urea" required>

        <label>Creatinine</label>
        <input type="number" step="any" name="Cr" required>

        <label>HbA1c</label>
        <input type="number" step="any" name="HbA1c" required>

        <label>Cholesterol</label>
        <input type="number" step="any" name="Chol" required>

        <label>Triglycerides</label>
        <input type="number" step="any" name="TG" required>

        <label>HDL</label>
        <input type="number" step="any" name="HDL" required>

        <label>LDL</label>
        <input type="number" step="any" name="LDL" required>

        <label>VLDL</label>
        <input type="number" step="any" name="VLDL" required>

        <label>BMI</label>
        <input type="number" step="any" name="BMI" required>

        <button type="submit">Predict</button>
    </form>

    {% if prediction_text %}
        <div class="result">
            {{ prediction_text }}
        </div>
    {% endif %}
</div>
